In [26]:
import numpy as np 
import pandas as pd
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import cross_val_score

import os
print(os.listdir("../input/data-science-london-scikit-learn"))

['test.csv', 'train.csv', 'trainLabels.csv']

In [27]:
train_data = pd.read_csv('../input/data-science-london-scikit-learn/train.csv',header = None)
train_labels = pd.read_csv('../input/data-science-london-scikit-learn/trainLabels.csv',header = None)
test_data =  pd.read_csv('../input/data-science-london-scikit-learn/test.csv',header = None)

In [28]:
print('train_data', train_data.shape)
print('test_data', test_data.shape)
print('train_labels', train_labels.shape)
train_data.head()

train_data (1000, 40)
test_data (9000, 40)
train_labels (1000, 1)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [29]:
train_data.describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.025596,-0.024526,-0.024088,-0.002271,1.092329,-0.006250,0.497342,-0.037883,0.026391,-0.003597,...,0.030651,0.022951,-0.542491,-0.011608,-0.483507,0.033371,0.567185,0.006849,-0.892659,0.609451
std,1.008282,1.016298,0.979109,0.970575,4.538834,0.989128,2.118819,2.232256,1.001064,1.013520,...,1.011645,1.001375,2.239939,1.022456,2.121281,1.007044,2.227876,0.997635,2.022022,2.045439
min,-3.365711,-3.492086,-2.695602,-3.460471,-16.421901,-3.041250,-7.224761,-6.509084,-3.145588,-2.749812,...,-3.379194,-2.971125,-7.840890,-2.999564,-7.124105,-2.952358,-5.452254,-3.473913,-8.051722,-7.799086
25%,-0.669010,-0.693937,-0.698830,-0.617557,-1.801997,-0.732265,-0.838619,-1.604037,-0.677562,-0.682220,...,-0.659457,-0.696032,-2.121943,-0.664550,-1.879247,-0.642861,-1.059786,-0.691162,-2.220126,-0.565041
50%,0.027895,-0.033194,0.008145,0.002327,0.862818,0.027041,0.582321,0.018809,0.022092,-0.036110,...,0.049416,0.049778,-0.568262,-0.028097,-0.493575,0.037732,0.455474,0.038284,-0.855470,0.779944
75%,0.762520,0.682753,0.661434,0.640743,3.843172,0.671456,1.913664,1.438304,0.741310,0.665364,...,0.747031,0.699917,0.939348,0.651374,1.005795,0.691800,2.122157,0.693535,0.388698,1.992193
max,3.326246,3.583870,2.546507,3.088738,17.565345,3.102997,7.592666,7.130097,3.145258,3.919426,...,2.844792,3.688047,7.160379,3.353631,6.005818,3.420561,6.603499,3.492548,5.774120,6.803984

PRE-PROCESSING

In [30]:
#Train-Test Split
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(train_data, train_labels, test_size=0.33, random_state=42)

print('X_train', x_train.shape)
print('X_test', x_test.shape)
print('y_train', y_train.shape)
print('y_test', y_test.shape)

X_train (670, 40)
X_test (330, 40)
y_train (670, 1)
y_test (330, 1)

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
lr_model = LogisticRegression(solver='lbfgs', multi_class='auto')
lr_model.fit(x_train, y_train)
y_pred = lr_model.predict(x_test)
metrics.accuracy_score(y_test, y_pred)

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8303030303030303

In [32]:
# 使用Logistic Regression之前需要先對資料做特徵縮放
from sklearn.preprocessing import MinMaxScaler
MMEncoder = MinMaxScaler()
mm_train_data = MMEncoder.fit_transform(train_data)

In [33]:
#LOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression

# lr_model = LogisticRegression(solver = 'lbfgs', multi_class='auto')
# lr_model.fit(x_train,y_train.values.ravel())
# lr_predicted = lr_model.predict(x_test)
# print('Logistic Regression',accuracy_score(y_test, lr_predicted))
print('Logistic Regression',cross_val_score(lr_model, mm_train_data, train_labels.values.ravel(), cv=10).mean())

Logistic Regression 0.8210000000000001

In [49]:
# Read the test data
test_data
# Treat the test data in the same way as training data. In this case, pull same columns.
# test_X = test[predictor_cols]
# Use the model to make predictions
predicted_result = lr_model.predict(test_data)
# We will look at the predicted prices to ensure we have something sensible.
print(predicted_result)

my_submission = pd.DataFrame({'Id': test_data.index+1, 'Solution': predicted_result})
# # you could use any filename. We choose submission here
my_submission.to_csv('submission.csv', index=False)

my_submission

[1 0 0 ... 1 0 1]

        Id  Solution
0        1         1
1        2         0
2        3         0
3        4         0
4        5         0
...    ...       ...
8995  8996         1
8996  8997         1
8997  8998         1
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]