# 處理 outliers
* 新增欄位註記
* outliers 或 NA 填補
    1. 平均數 (mean)
    2. 中位數 (median, or Q50)
    3. 最大/最小值 (max/min, Q100, Q0)
    4. 分位數 (quantile)

# [作業目標]
- 仿造範例的資料操作, 試著進行指定的離群值處理

# [作業重點]
- 計算 AMT_ANNUITY 的分位點 (q0 - q100) (Hint : np.percentile, In[3])
- 將 AMT_ANNUITY 的 NaN 用中位數取代 (Hint : q50, In[4])
- 將 AMT_ANNUITY 數值轉換到 -1 ~ 1 之間 (Hint : 參考範例, In[5])
- 將 AMT_GOOD_PRICE 的 NaN 用眾數取代 (In[6])

In [2]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# 設定 data_path
dir_data = './data/'

In [13]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ./data/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
app_train['AMT_ANNUITY'].describe()

count    307499.000000
mean      27108.573909
std       14493.737315
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64

## 1. 列出 AMT_ANNUITY 的 q0 - q100
## 2.1 將 AMT_ANNUITY 中的 NAs 暫時以中位數填補
## 2.2 將 AMT_ANNUITY 的數值標準化至 -1 ~ 1 間
## 3. 將 AMT_GOOD_PRICE 的 NAs 以眾數填補

In [15]:
"""
YOUR CODE HERE
"""
# 1: 計算 AMT_ANNUITY 的 q0 - q100
q_all = [np.percentile(app_train[~app_train['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q=i) for i in range(101)]

pd.DataFrame({'q': list(range(101)),
              'value': q_all})

       q      value
0      0    1615.50
1      1    6182.91
2      2    6750.00
3      3    7875.00
4      4    8703.00
5      5    9000.00
6      6    9000.00
7      7    9553.50
8      8   10125.00
9      9   10503.00
10    10   11074.50
11    11   11430.00
12    12   11970.00
13    13   12375.00
14    14   12838.50
15    15   13302.00
16    16   13500.00
17    17   13500.00
18    18   13896.00
19    19   14350.50
20    20   14701.50
21    21   15124.50
22    22   15583.50
23    23   15970.50
24    24   16209.00
25    25   16524.00
26    26   16852.50
27    27   17109.00
28    28   17487.00
29    29   17806.50
..   ...        ...
71    71   32458.50
72    72   32895.00
73    73   33376.50
74    74   33984.00
75    75   34596.00
76    76   35345.16
77    77   35806.50
78    78   36328.50
79    79   36747.00
80    80   37516.50
81    81   37948.50
82    82   38556.00
83    83   39456.00
84    84   40135.50
85    85   40806.00
86    86   41845.50
87    87   42790.50
88    88   43735.50
89    89   44991.00
90    90   45954.00
91    91   47254.50
92    92   48465.00
93    93   49878.00
94    94   51745.50
95    95   53325.00
96    96   55624.50
97    97   58482.00
98    98   62964.00
99    99   70006.50
100  100  258025.50

[101 rows x 2 columns]

In [16]:
# 2.1 將 NAs 以 q50 填補
print("Before replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

q_50 = np.percentile(app_train[~app_train['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = 50)
app_train.loc[app_train['AMT_ANNUITY'].isnull(),'AMT_ANNUITY'] = q_50

print("After replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

Before replace NAs, numbers of row that AMT_ANNUITY is NAs: 12
After replace NAs, numbers of row that AMT_ANNUITY is NAs: 0

### Hints: Normalize function (to -1 ~ 1)
$ y = 2*(\frac{x - min(x)}{max(x) - min(x)} - 0.5) $

In [18]:
# 2.2 Normalize values to -1 to 1
print("== Original data range ==")
print(app_train['AMT_ANNUITY'].describe())

def normalize_value(x):
    """
    Your Code Here, compelete this function
    """
    x = ((x - min(x)) / (max(x) - min(x)) - 0.5) * 2
    
    return x

app_train['AMT_ANNUITY_NORMALIZED'] = normalize_value(app_train['AMT_ANNUITY'])

print("== Normalized data range ==")
app_train['AMT_ANNUITY_NORMALIZED'].describe()

== Original data range ==
count    307511.000000
mean      27108.487841
std       14493.461065
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64
== Normalized data range ==

count    307511.000000
mean         -0.801154
std           0.113049
min          -1.000000
25%          -0.883714
50%          -0.818357
75%          -0.742752
max           1.000000
Name: AMT_ANNUITY_NORMALIZED, dtype: float64

In [30]:
# 3
print("Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

# 列出重複最多的數值

value_most = app_train['AMT_GOODS_PRICE'].value_counts().head()
print(value_most)

mode_goods_price = list(app_train['AMT_GOODS_PRICE'].value_counts().index)
app_train.loc[app_train['AMT_GOODS_PRICE'].isnull(), 'AMT_GOODS_PRICE'] = mode_goods_price[0]

print("After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0
[450000.0, 225000.0, 675000.0, 900000.0, 270000.0, 180000.0, 454500.0, 1125000.0, 135000.0, 315000.0, 1350000.0, 679500.0, 238500.0, 360000.0, 247500.0, 463500.0, 540000.0, 495000.0, 202500.0, 90000.0, 405000.0, 472500.0, 157500.0, 585000.0, 337500.0, 229500.0, 112500.0, 630000.0, 1800000.0, 720000.0, 1575000.0, 688500.0, 292500.0, 148500.0, 477000.0, 810000.0, 67500.0, 697500.0, 382500.0, 765000.0, 904500.0, 283500.0, 252000.0, 234000.0, 45000.0, 945000.0, 855000.0, 1129500.0, 913500.0, 328500.0, 459000.0, 193500.0, 103500.0, 256500.0, 481500.0, 922500.0, 1354500.0, 702000.0, 562500.0, 373500.0, 1080000.0, 2250000.0, 144000.0, 517500.0, 243000.0, 468000.0, 427500.0, 990000.0, 1035000.0, 553500.0, 927000.0, 1305000.0, 126000.0, 607500.0, 171000.0, 99000.0, 297000.0, 261000.0, 1170000.0, 279000.0, 342000.0, 684000.0, 162000.0, 486000.0, 652500.0, 189000.0, 274500.0, 387000.0, 139500.0, 301500.0, 324000.0, 166500.0, 306000.0, 121500.0, 1138500.0, 787500.0, 207000.0, 598500.0, 418500.0, 1147500.0, 346500.0, 508500.0, 81000.0, 567000.0, 369000.0, 423000.0, 184500.0, 94500.0, 117000.0, 742500.0, 288000.0, 351000.0, 319500.0, 490500.0, 198000.0, 265500.0, 706500.0, 693000.0, 1260000.0, 76500.0, 216000.0, 58500.0, 432000.0, 211500.0, 153000.0, 391500.0, 774000.0, 643500.0, 832500.0, 526500.0, 364500.0, 522000.0, 54000.0, 1345500.0, 1215000.0, 333000.0, 1206000.0, 414000.0, 657000.0, 877500.0, 409500.0, 612000.0, 378000.0, 648000.0, 436500.0, 544500.0, 441000.0, 1395000.0, 571500.0, 310500.0, 549000.0, 396000.0, 504000.0, 1152000.0, 1012500.0, 576000.0, 823500.0, 733500.0, 661500.0, 594000.0, 778500.0, 499500.0, 445500.0, 909000.0, 1363500.0, 400500.0, 670500.0, 220500.0, 621000.0, 355500.0, 175500.0, 108000.0, 531000.0, 72000.0, 558000.0, 1237500.0, 931500.0, 715500.0, 580500.0, 513000.0, 918000.0, 603000.0, 130500.0, 616500.0, 868500.0, 967500.0, 1327500.0, 1372500.0, 535500.0, 634500.0, 711000.0, 589500.0, 747000.0, 625500.0, 837000.0, 666000.0, 639000.0, 1102500.0, 882000.0, 1057500.0, 792000.0, 751500.0, 841500.0, 873000.0, 886500.0, 49500.0, 846000.0, 828000.0, 724500.0, 756000.0, 1530000.0, 729000.0, 864000.0, 936000.0, 85500.0, 891000.0, 738000.0, 814500.0, 859500.0, 940500.0, 1755000.0, 796500.0, 895500.0, 850500.0, 1377000.0, 1003500.0, 1093500.0, 769500.0, 972000.0, 783000.0, 819000.0, 801000.0, 1107000.0, 1440000.0, 63000.0, 1048500.0, 760500.0, 1017000.0, 1984500.0, 1134000.0, 805500.0, 958500.0, 1282500.0, 1620000.0, 1062000.0, 1116000.0, 1026000.0, 1053000.0, 1192500.0, 1044000.0, 1120500.0, 949500.0, 1066500.0, 1111500.0, 1485000.0, 1039500.0, 976500.0, 954000.0, 1143000.0, 981000.0, 1089000.0, 963000.0, 1071000.0, 994500.0, 2025000.0, 1098000.0, 1030500.0, 1021500.0, 1084500.0, 1075500.0, 999000.0, 1156500.0, 985500.0, 1710000.0, 1665000.0, 1008000.0, 1332000.0, 1165500.0, 1588500.0, 1174500.0, 1161000.0, 1597500.0, 1359000.0, 1417500.0, 1381500.0, 1273500.0, 1368000.0, 1552500.0, 1507500.0, 1309500.0, 1462500.0, 1314000.0, 1183500.0, 1287000.0, 1197000.0, 1300500.0, 1179000.0, 1323000.0, 1228500.0, 1291500.0, 1341000.0, 2254500.0, 1386000.0, 1188000.0, 1219500.0, 1233000.0, 1264500.0, 1201500.0, 1336500.0, 1278000.0, 1251000.0, 1579500.0, 1845000.0, 1269000.0, 1318500.0, 1296000.0, 1246500.0, 1642500.0, 1242000.0, 1390500.0, 1516500.0, 1210500.0, 1224000.0, 1822500.0, 1773000.0, 2205000.0, 737784.0, 1557000.0, 1534500.0, 1467000.0, 1602000.0, 983713.5, 1498500.0, 1561500.0, 1570500.0, 1512000.0, 1255500.0, 1935000.0, 1890000.0, 1426500.0, 1413000.0, 1584000.0, 1629000.0, 1480500.0, 492547.5, 1422000.0, 1449000.0, 1408500.0, 1980000.0, 1687500.0, 1404000.0, 1431000.0, 1746000.0, 1539000.0, 1566000.0, 1435500.0, 1525500.0, 1444500.0, 1606500.0, 1458000.0, 1813500.0, 2115000.0, 2700000.0, 1521000.0, 1399500.0, 1453500.0, 1476000.0, 1786500.0, 1777500.0, 1750500.0, 1611000.0, 1768500.0, 1732500.0, 1804500.0, 1782000.0, 1728000.0, 1543500.0, 2070000.0, 1489500.0, 1471500.0, 1548000.0, 1615500.0, 1737000.0, 478795.5, 1764000.0, 1503000.0, 1795500.0, 3150000.0, 1494000.0, 1759500.0, 1656000.0, 2160000.0, 1696500.0, 1647000.0, 1593000.0, 2475000.0, 1705500.0, 2047500.0, 2182500.0, 1624500.0, 1683000.0, 1719000.0, 486085.5, 4050000.0, 1669500.0, 1791000.0, 1741500.0, 1638000.0, 1912500.0, 2092500.0, 1849500.0, 1957500.0, 1827000.0, 1714500.0, 1674000.0, 1854000.0, 1723500.0, 2052000.0, 2038500.0, 2007000.0, 1660500.0, 1692000.0, 1678500.0, 1818000.0, 1651500.0, 2925000.0, 470511.0, 1633500.0, 3375000.0, 1993500.0, 1831500.0, 238531.5, 1962000.0, 2245500.0, 955003.5, 2065500.0, 1867500.0, 1894500.0, 3600000.0, 2223000.0, 1439248.5, 1701000.0, 1199371.5, 2218500.0, 1966500.0, 2137500.0, 1930500.0, 1948500.0, 2151000.0, 2002500.0, 1903500.0, 277947.0, 2191500.0, 1144606.5, 1953000.0, 482530.5, 2385000.0, 1921500.0, 2187000.0, 67392.0, 244435.5, 1939500.0, 2196000.0, 2119500.0, 2214000.0, 769909.5, 1944000.0, 2133000.0, 232690.5, 1809000.0, 2146500.0, 1917000.0, 2295000.0, 241704.0, 1989000.0, 584995.5, 1908000.0, 1858500.0, 1223964.0, 1998000.0, 938497.5, 2056500.0, 1220022.0, 607608.0, 607671.0, 304798.5, 607603.5, 592452.0, 303696.0, 149719.5, 1185925.5, 234342.0, 296671.5, 593896.5, 467874.0, 233928.0, 594558.0, 1191595.5, 933763.5, 596488.5, 933493.5, 598887.0, 303651.0, 592533.0, 599787.0, 1200136.5, 466713.0, 933300.0, 601389.0, 300838.5, 933174.0, 466083.0, 606451.5, 465925.5, 1199308.5, 231043.5, 508900.5, 2061000.0, 635008.5, 635085.0, 507618.0, 635652.0, 635760.0, 1271875.5, 159066.0, 159093.0, 1273680.0, 917365.5, 638302.5, 229126.5, 458028.0, 642915.0, 1836000.0, 1268743.5, 244863.0, 321970.5, 456480.0, 644724.0, 644962.5, 322560.0, 1290766.5, 912802.5, 645799.5, 646330.5, 912505.5, 161658.0, 323604.0, 323694.0, 458806.5, 316444.5, 612238.5, 1247643.0, 464463.0, 3712500.0, 308011.5, 463279.5, 308475.0, 463171.5, 462406.5, 618903.0, 619150.5, 619776.0, 620424.0, 461367.0, 1244515.5, 460858.5, 155965.5, 1265751.0, 1840500.0, 312790.5, 1252863.0, 627754.5, 1256103.0, 1259563.5, 1259671.5, 314946.0, 314968.5, 1015519.5, 459148.5, 630400.5, 2736000.0, 316372.5, 295776.0, 581184.0, 295677.0, 2200500.0, 1078713.0, 2016000.0, 965794.5, 2173500.0, 272520.0, 545251.5, 241024.5, 546021.0, 60070.5, 521194.5, 1127628.0, 137142.0, 239967.0, 274810.5, 1899000.0, 269379.0, 275553.0, 478917.0, 275760.0, 59782.5, 552384.0, 552595.5, 478134.0, 1039315.5, 553999.5, 554332.5, 3825000.0, 121878.0, 556794.0, 259312.5, 2155500.0, 1076436.0, 1181466.0, 264312.0, 1050088.5, 1050097.5, 2101500.0, 262804.5, 1051632.0, 2043000.0, 2448000.0, 523048.5, 242626.5, 2110500.0, 527823.0, 263965.5, 528183.0, 2114100.0, 970006.5, 967540.5, 264600.0, 1058976.0, 1061307.0, 969241.5, 1064326.5, 532624.5, 1067553.0, 522544.5, 484155.0, 535774.5, 483858.0, 268420.5, 537282.0, 537700.5, 2232306.0, 2236500.0, 559836.0, 943150.5, 473845.5, 1147711.5, 574002.0, 143977.5, 1152477.0, 946980.0, 577206.0, 577345.5, 288787.5, 472720.5, 472545.0, 1029838.5, 289539.0, 471951.0, 323982.0, 280026.0, 1885500.0, 583569.0, 584325.0, 584820.0, 584842.5, 942201.0, 585616.5, 146578.5, 3555000.0, 1176727.5, 1177744.5, 234805.5, 1180273.5, 2362500.0, 947884.5, 571725.0, 285844.5, 237208.5, 121945.5, 476284.5, 140287.5, 280894.5, 1123785.0, 518485.5, 1125112.5, 281380.5, 281853.0, 281907.0, 475686.0, 2169000.0, 1130125.5, 282667.5, 141354.0, 566730.0, 474867.0, 258624.0, 567544.5, 2272500.0, 568867.5, 568908.0, 569097.0, 517050.0, 284985.0, 285097.5, 570321.0, 2281500.0, 285727.5, 647644.5, 453465.0, 227988.0, 855175.5, 853195.5, 853821.0, 766813.5, 766444.5, 427468.5, 383035.5, 382257.0, 384772.5, 214146.0, 763762.5, 381528.0, 381411.0, 857538.0, 762246.0, 852975.0, 385222.5, 389623.5, 387675.0, 778783.5, 388746.0, 388674.0, 388660.5, 425326.5, 193959.0, 851769.0, 852574.5, 387409.5, 247941.0, 772600.5, 193135.5, 426042.0, 385456.5, 761836.5, 760986.0, 857655.0, 1481535.0, 743863.5, 1723666.5, 371488.5, 742540.5, 862353.0, 862893.0, 863149.5, 379867.5, 370219.5, 2961000.0, 2074500.0, 369256.5, 2547000.0, 997281.0, 430915.5, 744988.5, 372712.5, 186390.0, 1496893.5, 430672.5, 749997.0, 430447.5, 751662.0, 859842.0, 858762.0, 377167.5, 378189.0, 378598.5, 379012.5, 428994.0, 379251.0, 778801.5, 780597.0, 433201.5, 2106000.0, 494208.0, 828895.5, 404707.5, 808245.0, 414981.0, 201928.5, 415359.0, 405225.0, 832878.0, 246487.5, 208408.5, 400887.0, 801270.0, 208525.5, 810022.5, 810778.5, 848704.5, 413442.0, 822519.0, 205533.0, 412227.0, 410274.0, 409986.0, 1639431.0, 827100.0, 2340000.0, 413910.0, 828216.0, 812983.5, 828558.0, 50751.0, 202914.0, 836154.0, 199633.5, 494496.0, 784579.5, 843858.0, 393534.0, 786969.0, 785943.0, 844240.5, 196285.5, 98028.0, 3060000.0, 211536.0, 453321.0, 2124000.0, 782059.5, 391009.5, 424039.5, 393799.5, 394038.0, 394101.0, 843093.0, 421213.5, 420390.0, 840258.0, 1677942.0, 198229.5, 793057.5, 793296.0, 794070.0, 418828.5, 246483.0, 991476.0, 418473.0, 796603.5, 737860.5, 216630.0, 162256.5, 448546.5, 337221.0, 673632.0, 894825.0, 447606.0, 447804.0, 84028.5, 671179.5, 503266.5, 448731.0, 668506.5, 900090.0, 900243.0, 333630.0, 450234.0, 674640.0, 894654.0, 502438.5, 891418.5, 683023.5, 682609.5, 2011500.0, 679981.5, 502893.0, 445603.5, 982435.5, 675382.5, 2034000.0, 338598.0, 446998.5, 676278.0, 676089.0, 675981.0, 666090.0, 503559.0, 225243.0, 1305706.5, 655704.0, 411417.0, 654592.5, 1307092.5, 653350.5, 113724.0, 505080.0, 332910.0, 325944.0, 325804.5, 455445.0, 455548.5, 455688.0, 324819.0, 2745000.0, 328648.5, 657625.5, 658246.5, 906642.0, 659259.0, 659380.5, 660244.5, 905287.5, 504319.5, 330390.0, 660937.5, 452565.0, 1324962.0, 331245.0, 1805922.0, 665271.0, 683613.0, 2520000.0, 1474663.5, 874593.0, 40500.0, 872739.0, 872892.0, 218232.0, 718110.0, 436801.5, 357133.5, 362632.5, 178344.0, 437476.5, 356598.0, 245947.5, 439479.0, 177444.0, 499563.0, 725310.0, 685336.5, 997762.5, 736888.5, 367879.5, 433665.0, 367821.0, 734976.0, 498856.5, 366516.0, 217561.5, 1996456.5, 868594.5, 869715.0, 1458859.5, 435100.5, 728473.5, 354645.0, 441733.5, 354015.0, 887539.5, 887314.5, 1388862.0, 694152.0, 250398.0, 692914.5, 346099.5, 887949.0, 1415259.0, 444010.5, 343840.5, 686763.0, 888061.5, 171468.0, 342823.5, 443421.0, 886770.0, 349834.5, 2142000.0, 350068.5, 350500.5, 443182.5, 702301.5, 1971000.0, 885523.5, 885429.0, 885154.5, 705361.5, 705892.5, 442062.0, 353641.5, 353749.5, 738945.0]
450000.0    26300
225000.0    25282
675000.0    24962
900000.0    15416
270000.0    11428
Name: AMT_GOODS_PRICE, dtype: int64
After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0